aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
annotated-doc
annotated-types
anyio
attrs
certifi
charset-normalizer
click
contourpy
cycler
fastapi
filelock
fonttools
frozenlist
fsspec
h11
httptools
idna
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpmath
multidict
networkx
numpy
opencv-python
packaging
pandas
pillow
polars
propcache
psutil
pydantic
pydantic_core
pyparsing
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
requests
scipy
setuptools
shapely
six
sniffio
starlette
sympy
torch
torchvision
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
uvicorn
uvloop
watchfiles
websockets
yarl
